.background {
    /*background-image: url('https://dl.dropboxusercontent.com/u/11413212/SistersandSweetsLogoTrans.png');
    background-repeat: no-repeat;
    background-size: auto;*/
}

.container.pInfo, .list {
    z-index: 1;
    max-width: 700px;
    border: 5px solid tan;
}

.list {
    margin-top: 40px;
}

.row.order {
    text-align: center;
}

input {
    margin-bottom: 20px;
}

hr {
    width: 30%;
    color: black;
}

.city, .state {
    display: inline;
    width: 100px;
}

label.state {
    margin-left: 70px;
}

.col-md-4 {
    text-align: center;
}

h3 {
    font-weight: bolder;
}

h5 {
    font-weight: bold;
}

form {
    margin-top: 20px;
}

.dough {
    margin-top: 30px;
    border-radius: 20px;
    width: 100px;
}

.quant {
    border-radius: 20px;
    width: 50px;
    display: inline;
    padding-left: 5px;
    margin-left: 10px;
}

.formP {
    font-weight: normal;
}

.price {
    margin-top: 25px;
    display: inline;
}

.col-md-8 {}

.col-md-4 {
    margin-left: 500px;
}

.doughsCol {
    text-align: center;
}

button {
    margin-bottom: 30px;
    border-radius: 2px;
}
